<h2> Add a Shelf to Your Library </h2>

<form method='POST'action='/shelves'>
   <label>Shelf Name <br/>
   <input type='text' name='shelf[name]'placeholder='topic'required>
   </label>
   <input type='submit' value='submit'>

</form>

