* {
    font-family: noteworthy, 'Trebuchet';
}

.user-shelves {
    border: solid;
    padding: 7px;
    background-color: teal;
    color: seashell;
    margin: 5px;
    border-color: black;
    font-family: noteworthy;
    border-radius: 10px;
}

a {
    color: coral;
}

a:hover {
    color: teal;
}

.user-shelves p a {
    text-decoration: none;
    color: seashell;
    font-family: noteworthy;
}
.user-shelves p a:hover {
    color: coral;
}


a:visited {
    color: none;
}

input.button {
    width: 4em;
    height: 2em;
    color: seashell;
    background-color:teal;
}

input.button:hover {
    background-color: black;
}

.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #178976;
    text-transform: uppercase;
    background-color:coral;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    margin: 0 auto 40px;
}