@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat');


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://i.imgur.com/jLBRFUTh.jpg);
    background-repeat: on;
    color: seashell;
}
.user-shelves {
    border: solid;
    padding: 7px;
    background-color: teal;
    color: seashell;
    margin: 5px;
    border-color: black;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 10px;
}
a {
    color: seashell;
}
a:hover {
    color: coral;
}
.user-shelves p a {
    text-decoration: none;
    color: rgb(186, 244, 246);
    font-family: 'Montserrat', sans-serif;
}
.user-shelves p a:hover {
    color: coral;
}
a:visited {
    color: none;
}
input.button {
    width: 4em;
    height: 2em;
    color: seashell;
    background-color:teal;
}
input.button:hover {
    background-color: black;
}
.topnav {
    position: static;
    top: 0px;
    left: 0px;
    padding-left: 50px;
    background-color: black;
    width: 100%;
    height: 20px;
}
.topnav a {
    text-decoration: none;
    font-stretch: expanded;
    padding-left: 10px;
}
#header {
    background-color: rgba(0, 0, 0, 0.5);
    color: seashell;
    position: static;
    top: 0px;
    left: 0;
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.bookcase {
    border: none;
    margin: 10px;
    padding: 15px 40px;
    border-radius: 1%;
}
.shelf {
    border: 2px dotted rgb(23, 137, 117);
    background-color: #178982;
    padding: 10px;
    border-radius: 2%;
    margin: 20px;
}
.shelf ul {
    list-style: none;
    color: seashell;
    font-family: 'IBM Plex Mono', monospace;
}
.shelf a {
    text-decoration: none;
    color: rgb(186, 244, 246);
    font-family: 'Montserrat', sans-serif;
}
.shelf a:hover {
    color: coral;
}
ul {
    list-style: none;
}
.container {
    background-color: rgba(23, 137, 117, 0.5);
    width: 900px;
    position: static;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
article {
    width: 700px;
    margin: auto;
    position: relative;
}
.loginform{
    background-color: none;
}