* {
    font-family: noteworthy, 'Trebuchet';
}

.user-shelves {
    border: solid;
    padding: 7px;
    background-color: teal;
    color: seashell;
    margin: 5px;
    border-color: black;
    font-family: noteworthy;
    border-radius: 10%;
}

a {
    color: coral;
}

.user-shelves p a {
    text-decoration: none;
    color: seashell;
    font-family: noteworthy;
}
.user-shelves p a:hover {
    color: coral;
}


a:visited {
    color: none;
}

input.button {
    width: 20em;
    height: 20em;
}

h1 {
    color: seashell;
    border: 2px, solid, black;
    background-color: coral;
    text-align: center;
}
