<div class="loginform">

  <h2> Login to See The Latest Reads </h2>

  <% if flash.has?(:notice) %>
    <%= flash[:notice] %>
  <% end %>



  <form method="post" action="/login">
    <label> Username:</label>
    <input type="text" name="username" required><br/>

    <label for="password">Password: </label>
    <input type="password" name="password" required><br/>

    <input type="submit" id="submit" value="Log In">
  </form>
<p>Don't have an account?<br><a href="/signup">Signup</a></p>
</div>