<div class="loginform">

  <h2> Login to See The Latest Reads </h2>

  <% if flash.has?(:notice) %>
    <%= flash[:notice] %>
  <% end %>



  <form method="post" action="/login">
    <table>
      <tr>
        <td><label> Username:</label></td>
        <td><input type="text" name="username" required></td>
      </tr>
      <tr>
        <td><label for="password">Password: </label></td>
        <td><input type="password" name="password" required></td>
      </tr>
    </table>
      <input type="submit" id="submit" value="Log In">
  </form>
<p>Don't have an account?<br><a href="/signup">Signup</a></p>
</div>