<h2> Deleting this page.. </h2>

<% User.all.each do |user| %>
  <div class="user-shelves">
  <h3 class="name"><a href='/users/<%="#{user.slug}"%>'> <%= user.username.capitalize %></a>'s Bookshelves: </h3>
    <%user.shelves.each do |shelf|%>
      <p class="shelf-name"><%=shelf.name%></p>
      <%end%>
  </div>
<%end%>


  
  