<h1>Welcome!</h1>
<h3>
  <a href="/login">Login</a> or
  <a href="/signup">Signup</a> to see the latest reads.
</h3>

<label class="quote"><h5>"Somewhere, something incredible is waiting to be known." -Carl Sagan</h5>
</label>