<label class="quote"><h2>"Somewhere, something incredible is waiting to be known."</h2></label>
<label class="quote-author"><h5>-Carl Sagan</h5></label>

<a href="/login">Login</a>
<a href="/signup">Signup</a>