<!DOCTYPE html>
<html>
  <head>
    <title>BrainFood</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div id="header">BrainFood</div>
      <% if current_user %>
        <div class="topnav">
          <a href='/'>Home</a>
          <a href='/profile'>Profile<a>
          <a href='/logout'>Logout</a>
        </div>
      <%end%>
    </div>
    
    <div class="container">
      <article>
        <%= yield %>
      </article>
    </div>

  </body>
</html>