<!DOCTYPE html>
<html>
  <head>
    <title>BrainFood</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
     <h1>Welcome to Brainfood!</h1>
      <%= yield %>
    </div>

  </body>
</html>